{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "tailwindConfig": "./tailwind.config.ts",
  "plugins": ["prettier-plugin-tailwindcss"],
  "prettier": {
    "classAttributes": ["class", "className"]
  }
}
